html {
    position: relative;
    font-size: 16px;
    min-height: 100%;
}

@media (max-width: 768px) {
    .theme {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 4rem;
        margin-left: 10%;
        margin-right: 10%;
        background-color: rgba(0, 191, 255, 0.3);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 768px) {
    html {
        font-size: 18px;
    }

    .theme {
        display: block;
        height: 4.65rem;
        width: 25rem;
        text-align: center;
        background-color: white;
        box-shadow: none;
        border-bottom: 5px solid black;
    }

    .theme h1 {
        width: max-content;
        margin-left: 30%;
        margin-bottom: 0;
    }

    #lang-button {
        transform: translateX(300px);
    }
}

.page {
    display: flex;
    overflow: scroll;
    width: 100%;
    height: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.after-load {
    display: none;
}

header {
    background-color: white;
    width: 100%;
    position: fixed;
}

header nav {
    padding-left: 10%;
}

.content {
    flex: 1;
    margin-top: 60px;
}

.text-load {
    color: rgba(255, 255, 255, 0);
    position: relative;
    animation: show 2s step-end forwards;
}

.text-load::before {
    content: "";
    position: absolute;
    height: 100%;
    animation: text-load 2s ease-in-out;
    background-color: black;
}

@keyframes show {
    50% {
        color: rgba(0, 0, 0, 1);
    }
    100% {
        color: rgba(0, 0, 0, 1);
        position: initial;
    }
}

@keyframes text-load {
    0% {
        width: 0%;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0%;
        background-color: none;
    }
}

.main-p {
    margin: 2.5% 10%;
    font-size: 150%;
}

.border-r a {
    width: max-content;
    border-radius: 15%;
}

.li-label {
    list-style-type: none;
}

.game {
    margin-left: 2.5%;
}

.margin-left {
    margin-left: 5%;
}

.box-shadow {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
}

.pre-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.contact-list {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact-list a {
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 5%;
}

.contact-list img {
    border-radius: 50%;
    width: 10%;
    height: 10%;
}

#lang-button {
    background-image: url('../img/en.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
    border-radius: 15%;
    height: 35px;
    width: 35px;
}
