@import url('https://fonts.googleapis.com/css2?family=Orbitron');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Orbitron';
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    padding: 0;
    list-style: none;
}
