@page
@model IndexModel
@{
    ViewData["Title"] = "Games";
}
<div>
    <h1>My Games</h1>
    <div>
        <ul>
            <li><a href="src/!FINALPROJECT.rar" download="Zombie RPG.rar">Zombie RPG</a> - click to Download</li>
        </ul>
    </div>
</div>
