@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="main-p">
        <p>
            I am from Ukraine and I recently turned 18 years old, since last year I have been learning the language in the Czech
            Republic and now, after the 18th birthday, I actively began searching for a job, since I have this opportunity.
        </p>
        <p>
            I am a Candidate for a Master of Sports in swimming, I have been doing it for 7 years. Graduated from a music school
            as a guitarist and I have experience working in a team.
        </p>
        <p class="no-bot-margin">
            I have previously taken two programming courses at the Hillel computer school: web developing
        </p>
        <p>
            (HTML, CSS, JS, mySQL, C#)
            and full basic Python with some modules like "numpy", "os", "random", etc.
        </p>
        <p>
            I know English, Ukrainian, Russian and Czech languages ​​well, unfortunately I have no experience as a programmer, 
            but will be glad if, before accepting me for a job, you will tell me if I need to learn something, from repository 
            system and Python's modules to another programming languages.
        </p>
    </div>
</div>
