@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div>
    <div class="main-p">
        <p>
            So far, all that the information site takes from your device is the size 
            of its display for itself optimization, further - more.
        </p>
    </div>
</div>